*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background: #E5E5E5;
}
body button{
  border: none;
  background: white;
  cursor: pointer;
}
body a{
  text-decoration: none;
  cursor: pointer;
}
.header{
  background: #0050B3;
  padding-top: 6px;
  padding-bottom: 6px;
}
.header-block{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-input {
  /* width: 100%; */
  width: 336px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 5px 30px 5px 12px;
  font-family: SF Pro Display;
  font-size: 14px;
  line-height: 22px;
  color: #BFBFBF;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}
.search-input:focus{
  outline: none;
}
.user{
  display: flex;
  align-items: center;
}
.user span:hover, .navigation-panel a:hover{
  color:#F5222D;;
}
.user img:hover{
  border: 0.5px solid white;
  border-radius: 100%;
}
.user-avatar{
  margin-right: 8px;
}
.user-name{
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
.navigation{
  display: flex;
  align-items: center;
}
.navigation-panel{
  margin-left: 12px;
  display: flex;
  align-items: center;
}
.navigation-link{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  color: white;
  margin-left: 12px;
}
.navigation-link::before{
  margin-right: 12px;
  content: "";
  width: 1px;
  height: 16px;
  background-color:#003A8C;
}
.navigation-link:last-child:after{
  margin-left: 12px;
  content: "";
  width: 1px;
  height: 16px;
  background-color:#003A8C;
}
.header-icon{
  fill:#002766;
}
.header-icon:hover{
  fill: white;
}
.icons-panel{
  display: flex;
  align-items: center;
}
.icon-link{
  margin-left: 17px;
  display: flex;
  align-items: center;
}
.icon-link:nth-child(4):before{
  margin-right: 12px;
  content: "";
  width: 1px;
  height: 16px;
  background-color:#003A8C;
}
/* .icon-link:nth-child(3):after{
  content: "8";
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  width: 20px;
  height: 20px;
  background: #F5222D;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  position: absolute;
} */
.icon-link:last-child{
  content: "";
  margin-left: 6.5px;
}
.container{
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.menu-sidebar{
  max-width: 192px;
  margin-top: 16px;
  margin-right: 12px;
}
.menu-sidebar .user-avatar{
  width: 24px;
  height: 24px;
  margin-left: 9px;
}
.menu-sidebar .user-avatar:hover,
.user-image:hover{
  border: 0.5px solid #0050B3;
  border-radius: 100%;
  cursor: pointer;
}
.menu-sidebar .user-name{
  font-size: 14px;
  line-height: 22px;
  color: #262626;
  font-weight: normal;
}
.menu-sidebar .user-name:hover,
.menu-sidebar span:hover,
.tag span:hover,
.post-button-text:hover{
  color: #0050B3;
}
.nav-text.more:hover,
.site-name:hover,
.dropdown:hover,
.bday-info a:hover{
  color:#F5222D;
  cursor: pointer;
}
.menu-sidebar div{
  margin-bottom: 12px;
}
.nav-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}
.nav-link{
  font-size: 14px;
  line-height: 22px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  color: #595959;
}
.nav-link:not(last-child){
  margin-bottom: 8px;
}
.nav-link.active{
  background: #FFFFFF;
  border-radius: 4px;
  color: #262626;
}
.nav-link svg{
  padding-right: 5px;
}
.nav-title{
  font-size: 12px;
  line-height: 20px;
  color: #262626;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 0;
  padding-left: 10px;  
}
.nav-link:nth-child(7){
  margin-bottom: 0;
  margin-top: 12px;
  font-size: 14px;
  line-height: 22px;
  color: #1890FF;
}
.main-feed{
  max-width: 588px;
  margin-top: 18px;
  width: 100%;
  flex-grow: 1;
}
.create-post{
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}
.create-post-header{
  background: #F5F5F5;
  padding: 9px 16px;
}
.create-post-title{
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.create-post-body{
  padding: 16px 14px 24px 16px;
  display: flex;
  align-items: flex-start;
}
.create-post-input{
  padding-top: 8px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #8C8C8C;
}
.create-post-input:focus{
  outline: none;
}
.create-post-footer{
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  border-top: 1px solid #E8E8E8;
  padding-top: 16px;
  display: flex;
  align-items: center;
}
.tag{
  display: flex;
  align-items: center;
  background: #F5F5F5;
  border-radius: 48px;
  padding: 8px 12px 9px 12px;
  margin-right: 8px;
}
.button-text{
  margin-left: 8px;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.post{
  margin-top: 16px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px;
}
.post-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-header .user-name{
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  margin: 0;
}
.user-info{
  display: flex;
  align-items: center;
}
.user-image{
  width: 48px;
  height: 48px;
  margin-right: 12px;
}
.user-setup{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-setup-opt{
  margin-right: 8px;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}
.post-description{
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
b{
  color:#1890FF;
}
.like-block{
  display: flex;
  margin-bottom: 9px;
  margin-top: 9px;
}
.like{
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-right: 4px;
}
.post-footer{
  padding-top: 16px;
  border-top: 1px solid #E8E8E8;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.post-button{
  display: flex;
  align-items: center;
}
.post-button-text{
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 8px;
}
.right-sidebar{
  margin-left: 24px;
  width: 100%;
  max-width: 384px;
  margin-top: 18px;
}
.stories{
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 16px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stories-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.stories-title{
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.stories-block{
  display: flex;
  align-items: center;
}
.stories-link{
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  margin-right: 4px;
}
.stories-link:nth-child(3){
  margin-right: 8px;
  margin-left: 8px;
}
.story-item{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.site-block{
  margin-left: 12px;
}
.site-name{
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
}
.site-info{
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}
.dropdown{
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  margin-left: 12px;
}
.bday{
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px;
  margin-top: 16px;
}
.bday-info{
  font-size: 14px;
  line-height: 22px;
  margin-left: 8px;
  margin-top: 0;
  margin-bottom: 0;
  color: #595959;
}
.fanpage{
  margin-top: 16px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 16px 16px 16px;
}
.fanpage-header{
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
}
.fanpage-title{
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.fanpage-body{
  margin-top: 16px;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #D9D9D9;
}
.page-info{
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  justify-content: center;
}
.page-link:first-child{
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  margin-bottom: 4px;
}
.page-link-text{
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}
.page-link:last-child:after{
  content:"1";
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-size: 12px;
  line-height: 20px;
  color: #595959;
  padding: 8px 4px;
}
.fanpage-footer{
  padding-top: 16px;
}
.share-block{
  display: flex;
  align-items: center;
  justify-content: center;
}
.share-button{
  font-size: 16px;
  line-height: 24px;
  color: #595959;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  padding: 8px 33px 8px 32px;
}
.share-button:focus{
  color: #1890FF;
  border: 1px solid #1890FF;
  outline: none;
}
.share-info{
  margin-top: 24px;
  text-align: center;
}
.share-number{
  margin:0px 0px 4px 0px;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}
.share-info-text{
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}